<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Live-event info</title>

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="../static/styles/styles.css" rel="stylesheet" type="text/css">
  <link href="../static/styles/custom-responsive-styles.css" rel="stylesheet" type="text/css">
  
  <script type="text/javascript" src="../static/scripts/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../static/scripts/all-plugins.js"></script>
  <script type="text/javascript" src="../static/scripts/plugins-activate.js"></script>
</head>

<body id="page-top">
  <div class="site-wrap">
    <div class="topnav">
      <span>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </span>
      <span id="myLinks">
          <a href="http://127.0.0.1:5000/">Home</a>
          <a href="http://127.0.0.1:5000/calendar" id="nav-calendar">Calendar</a>
          <a href="http://127.0.0.1:5000/real_time" style="color:#20c997;" id="nav-real-time">Real-time</a>
      </span>
    </div>
  </div>
  <!-- Header Starts -->
  <header class="site-navbar py-3" role="banner">

    <div class="container-fluid">
      <div class="row align-items-center">

        <div>
          <img id="logo" src="../static/images/Access Control Logo sizes/Access Control Logo sizes/Logo_Acces Control_Full-png.png" alt="Italian Trulli">
        </div>
        <div class="col-10 col-md-8 d-none d-xl-block" data-aos="fade-down">
          <nav class="site-navigation position-relative text-right text-lg-center" role="navigation">
            <ul class="main-nav">
              <li><a href="http://127.0.0.1:5000/" id="nav-calendar">HOME</a></li>
              <li><a href="http://127.0.0.1:5000/calendar" id="nav-calendar">CALENDAR</a></li>
              <li><a href="http://127.0.0.1:5000/real_time" id="nav-real-time" style="color:#20c997;">REAL-TIME</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

  </header>

  <section id="About" class="content-section">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-12">
          <div id="date" class="block-heading" style="margin-top: 5%;">
            <h2>Date: {{ date }}</h2>
          </div>
          <div class="column">
            <div style="height:28em; width: 100%;;overflow:auto;border:8px solid gray;padding:2%;">
              <hr>
              {% for card in cards %}
              <p id="card-id">Card ID: {{ card.cardNumber }}</p>
              <p>Event: {{ card.eventType }} - {{ card.recordName }}</p>
              <p>Time: {{ card.eventTime }} </p>
              <hr>
              {% endfor %}
            </div>
            <button type="button" onclick="refresh()">Refresh</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- About Us Starts -->
  <section id="Services" class="content-section text-center" style="margin-top: 0 !important; padding-top: 0 !important;">
    <div class="container">
      <div class="block-heading">
        <h2>Bonus statistics</h2>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="service-box">
            <div class="service-icon yellow">
              <div class="front-content">
                <i class="fa fa-globe" aria-hidden="true"></i>
                <h3>Event location</h3>
              </div>
            </div>
            <div class="service-content">
              <h3>Astea Solutions - Office 1</h3>
              <p> ул. „Кораб планина“ 10, 1407 ж.к. Лозенец, София</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="service-box">
            <div class="service-icon orange">
              <div class="front-content">
                <i class="fa fa-suitcase"></i>
                <h3>Event type</h3>
              </div>
            </div>
            <div class="service-content">
              <h3>Entering building</h3>
              <p>Displays notiflication when somebody enters the building.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="service-box ">
            <div class="service-icon red">
              <div class="front-content">
                <i class="fa fa-male" aria-hidden="true"></i>
                <h3>Live card counter</h3>
              </div>
            </div>
            <div class="service-content">
              <h3>Counter: {{ cardsCount }}</h3>
              <p>Counter++ whenever somebody validates a card. Nice.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="service-box">
            <div class="service-icon grey">
              <div class="front-content">
                <i class="fa fa-users"></i>
                <h3>Count of people present</h3>
              </div>
            </div>
            <div class="service-content">
              <h3>Current count: {{ peoplePresent }}</h3>
              <p>!Attention!: this is not 100% accurate.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <footer class="footer text-center">
   
      <p class="text-muted small mb-0">Copyright © Your Website 2018</p>
      <p class="text-muted small mb-0">Designed by Position2 && Astea Boys</p>
    </div>
  </footer>

  <script>
    function refresh() {
      location.reload();
    }

    function myFunction() {
        var x = document.getElementById("myLinks");
        if (x.style.display === "inline-block") {
        x.style.display = "none";
        } else {
        x.style.display = "inline-block";
        }
    }
    </script>
</body>

</html>