hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  color: #333; /* old IE */
  background-color: #333; /* Modern Browsers */
}

#date {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

#logo {
  margin-left: 10%;
  margin-top: 5%;
}

.site-wrap:before {
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden; }

.offcanvas-menu .site-wrap {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  overflow: hidden; }
  .offcanvas-menu .site-wrap:before {
    opacity: 1;
    visibility: visible; }

.icon {
position: relative;
}

@media screen and (min-width: 1100px) {
  .topnav { display: none;}
  }

  @media screen and (max-width: 1100px) {
    #main-nav { display: none;}
    #logo {
      margin: 7%;
      display: block;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
    }
  }
  
  .topnav {
    top: 0;
    overflow: hidden;
    color: black;
    background-color: rgb(255, 255, 255);
    position: absolute;
    font-size: 30px;
  }

  .topnav a {
    font-family: Arial;
    color: black;
    background-color: rgb(255, 255, 255);
    margin: 0.5vw;
    font-size: 4vw;
    text-decoration: none;
  }
  
  .topnav #myLinks {
    display: none;
    margin-left: 20px;
    font-size: 2.8vw;
    position: relative;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color:#20c997;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
  }

ul {
  list-style-type: none;
  position: absolute;
  top: 0%;
  left: 27%;
  margin: 0;
  padding: 0px;
  overflow: hidden;
}

li a {
  font-family: Arial !important; 
  font-size: 18px !important;
  padding-right: 9px !important;
}

li {
  float: left;
}



li a:hover {
  color:#20c997;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s
}


/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
  .content-section {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .logo i {
    font-size: 40px;
  }
  #Banner .content-wrap h1 {
    font-size: 36px;
  }
  #Banner .content-wrap h3 {
    font-size: 20px;
  }
  .btn-xl {
    padding: 15px 30px;
  }
  .content-section-heading h2 {
    font-size: 30px;
  }
  #Portfolio .portfolio-wrapper .each-portfolio {
    float: none;
    margin: 0 auto 20px;
    width: 100%;
    display: block;
  }
  #customers-testimonials .item {
    margin-bottom: 0;
  }
  #Contact .contact-wrapper {
    border-right: none;
    margin-right: 0;
    padding: 0;
  }
  #Contact .contact-wrapper span {
    font-size: 18px;
  }
  .address-block,
  #Contact .address-block.border-bottom {
    margin-bottom: 40px;
    padding: 0 15px 30px;
  }
  footer.footer .social-link {
    height: 50px;
    width: 50px;
    font-size: 18px;
  }
  .owl-nav {
    display: none !important; 
  }
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
  .logo i {
    font-size: 40px;
  }
  .content-section {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  #Banner .content-wrap h1 {
    font-size: 36px;
  }
  #Banner .content-wrap h3 {
    font-size: 20px;
  }
  .btn-xl {
    padding: 15px 30px;
  }
  .content-section-heading h2 {
    font-size: 30px;
  }
  #Portfolio .portfolio-wrapper .each-portfolio {
    float: none;
    margin: 0 auto 20px;
    width: 100%;
    display: block;
  }
  #customers-testimonials .item {
    margin-bottom: 0;
  }
  #Contact .contact-wrapper {
    border-right: none;
    margin-right: 0;
    padding: 0;
  }
  #Contact .contact-wrapper span {
    font-size: 18px;
  }
  .address-block,
  #Contact .address-block.border-bottom {
    margin-bottom: 40px;
    padding: 0 15px 30px;
  }
  footer.footer .social-link {
    height: 50px;
    width: 50px;
    font-size: 18px;
  }
  .owl-nav {
    display: none !important; 
  }
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
  .content-section {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  #Banner .content-wrap h1 {
    font-size: 40px;
  }
  #Banner .content-wrap h3 {
    font-size: 24px;
  }
  .btn-xl {
    padding: 20px 30px;
  }
  .content-section-heading h2 {
    font-size: 30px;
  }
  #Contact .contact-wrapper span {
    font-size: 16px;
  }
  footer.footer .social-link {
    height: 50px;
    width: 50px;
    font-size: 18px;
  }
  .owl-nav {
    display: none !important; 
  }
  #Contact .c-icon {
    margin-right: 10px;
  }
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
  .content-section {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  #Banner .content-wrap h1 {
    font-size: 40px;
  }
  #Banner .content-wrap h3 {
    font-size: 24px;
  }
  .btn-xl {
    padding: 20px 30px;
  }
  .content-section-heading h2 {
    font-size: 30px;
  }
  #Contact .contact-wrapper span {
    font-size: 16px;
  }
  footer.footer .social-link {
    height: 50px;
    width: 50px;
    font-size: 18px;
  }
  .owl-nav {
    display: none !important; 
  }
  #Contact .c-icon {
    margin-right: 10px;
  }
}