.site-block-feature-7 .icon {
    -webkit-transition: .2s all ease-in-out;
    -o-transition: .2s all ease-in-out;
    transition: .2s all ease-in-out;
    position: relative;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  
  .site-block-feature-7:hover .icon, .site-block-feature-7:focus .icon, .site-block-feature-7:active .icon {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }
  
  .site-wrap:before {
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    background: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    z-index: 2000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden; }
  
  .offcanvas-menu .site-wrap {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    overflow: hidden; }
    .offcanvas-menu .site-wrap:before {
      opacity: 1;
      visibility: visible; }
  
  
  @media screen and (min-width: 768px) {
    .topnav { display: none;}
    }
  
    @media screen and (max-width: 768px) {
      #main-nav { display: none;}
    }
    
    .topnav {
      top: 0;
      overflow: hidden;
      color: black;
      background-color: rgb(255, 255, 255);
      position: absolute;
      font-size: 35px;
    }
  
    .topnav a {
      color: black;
      background-color: rgb(255, 255, 255);
      font-size: 30px;
    }
    
    .topnav #myLinks {
      display: none;
    }
    
    .topnav a:hover {
      background-color: #ddd;
      color:#20c997;
      transition-property: all;
      transition-duration: 0.3s;
      transition-timing-function: ease;
      transition-delay: 0s
    }
  
  
  ul {
    list-style-type: none;
    position: absolute;
    top: 0;
    left: 40%;
    margin: 0;
    padding: 30px;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    font-family: Arial;
    font-size: 15px;
    display: block;
    color:rgb(77, 77, 77);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    color:#20c997;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s
  }
  
  /* h1 {
    margin: 0%;
    text-align: center;
    font-size: 5em;
    position: relative;
  } */
  
  .text {
    margin: 5%;
    text-align: center;
    font-size: 35px;
    padding: 20px;
  }